# KÎ¶¨Í∑∏ Ìå®Ïä§ ÏòàÏ∏° - EDA

**Î™©Ìëú:** Îç∞Ïù¥ÌÑ∞ Íµ¨Ï°∞ Ïù¥Ìï¥ Î∞è Í∏∞Î≥∏ ÌÜµÍ≥Ñ ÌôïÏù∏

In [1]:
# Î™®Îìà Í≤ΩÎ°ú ÏÑ§Ï†ï
import sys
from pathlib import Path

project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

print(f"‚úì ÌîÑÎ°úÏ†ùÌä∏ Î£®Ìä∏: {project_root}")

‚úì ÌîÑÎ°úÏ†ùÌä∏ Î£®Ìä∏: e:\Dacon\open_track1

In [2]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÑÌè¨Ìä∏
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# ÌïúÍ∏Ä Ìè∞Ìä∏ ÏÑ§Ï†ï
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

print("‚úì ÎùºÏù¥Î∏åÎü¨Î¶¨ Î°úÎìú ÏôÑÎ£å")

‚úì ÎùºÏù¥Î∏åÎü¨Î¶¨ Î°úÎìú ÏôÑÎ£å

In [3]:
# Îç∞Ïù¥ÌÑ∞ Î°úÎìú
from src.data.load_data import load_train_data

train, match_info = load_train_data()

‚úì ÌïôÏäµ Îç∞Ïù¥ÌÑ∞: 356,721 Ìñâ
‚úì Í≤ΩÍ∏∞ Ï†ïÎ≥¥: 228 Ìñâ

In [4]:
# Cursor AIÏóêÍ≤å Î¨ºÏñ¥Î≥¥Í∏∞ (Ctrl + L):
# "train Îç∞Ïù¥ÌÑ∞Ïùò Í∏∞Î≥∏ Ï†ïÎ≥¥Î•º Ï∂úÎ†•ÌïòÎäî ÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï§ò"

print("Îç∞Ïù¥ÌÑ∞ ÎØ∏Î¶¨Î≥¥Í∏∞:")
display(train.head())

print("\nÍ∏∞Î≥∏ Ï†ïÎ≥¥:")
print(train.info())

Îç∞Ïù¥ÌÑ∞ ÎØ∏Î¶¨Î≥¥Í∏∞:

,game_id,period_id,episode_id,time_seconds,team_id,player_id,action_id,type_name,result_name,start_x,start_y,end_x,end_y,is_home,game_episode
0,126283,1,1,0.667,2354,344559,0,Pass,Successful,52.418205,33.485444,31.322445,38.274752,True,126283_1
1,126283,1,1,3.667,2354,250036,2,Pass,Successful,32.013240,38.100808,37.371285,30.632980,True,126283_1
2,126283,1,1,4.968,2354,500145,4,Carry,NaN,37.371285,30.632980,38.391570,24.613144,True,126283_1
3,126283,1,1,8.200,2354,500145,5,Pass,Successful,38.391570,24.613144,34.573350,5.545468,True,126283_1
4,126283,1,1,11.633,2354,142106,7,Pass,Successful,34.578705,6.058256,21.274470,18.437112,True,126283_1

Í∏∞Î≥∏ Ï†ïÎ≥¥:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356721 entries, 0 to 356720
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   game_id       356721 non-null  int64
 1   period_id     356721 non-null  int64
 2   episode_id    356721 non-null  int64
 3   time_seconds  356721 non-null  float64
 4   team_id       356721 non-null  int64
 5   player_id     356721 non-null  int64
 6   action_id     356721 non-null  int64
 7   type_name     356721 non-null  object
 8   result_name   216467 non-null  object
 9   start_x       356721 non-null  float64
 10  start_y       356721 non-null  float64
 11  end_x         356721 non-null  float64
 12  end_y         356721 non-null  float64
 13  is_home       356721 non-null  bool
 14  game_episode  356721 non-null  object
dtypes: bool(1), float64(5), int64(6), object(3)
memory usage: 38.4+ MB
None

## üí° Cursor AI ÌôúÏö© ÌåÅ

- `Ctrl + L`: Ï†ÑÏ≤¥ Chat Ïó¥Í∏∞
- `Ctrl + I`: Ïù∏ÎùºÏù∏ ÏΩîÎìú ÏÉùÏÑ±
- `@train.csv`: ÌååÏùº Ï∞∏Ï°∞